{% extends "base.html" %}

{% block content %}
	<h1>School name entry</h1>
	<form action="" method="post" novalidate>
			{{ form.hidden_tag() }}
			<p>
				{{ form.school_name.label }}</ br>
				{{ form.school_name(size=32) }}</ br>
				{% for error in form.school_name.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p>
				{{ form.no_of_teams.label }}</ br>
				{{ form.no_of_teams(size=32) }}</ br>
				{% for error in form.no_of_teams.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p>{{ form.submit() }}</p>
	</form>
{% endblock %}
