{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% macro render_team(team) %}
	<tr>
		<td>
			{{ team.name }}
		</td>
		<td class="d-none d-sm-table-cell">
			---
		</td>
		<td>
			{{ team.password }}
		</td>
		<td>
			<button class="btn btn-warning btn-sm" type="button" data-toggle="modal" data-target="#editTeamModal" data-teamid="{{ team.id }}" data-teamname="{{ team.name }}" data-teampassword="{{ team.password }}">Edit</button>
		</td>
	</tr>
{% endmacro %}

{% macro render_school(school) %}
	<div class="card">
		<div class="card-header">
			<div class="row">
				<div class="col-md-9 col-12">{{ school.name }}</div>
				<div class="col">{{ school.teams.all()|length }}</div>
				<div class="col">
					<!-- TODO: Make this toggle to "hide" or something when open -->
					<button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#{{ 'collapsible' + school.name|replace(' ', '_') }}" aria-expanded="false" aria-controls="{{ school.name + 'collapsible' }}">Show</button>
					<button class="btn btn-warning btn-sm" type="button" data-toggle="modal" data-target="#editSchoolModal" data-schoolid="{{ school.id }}" data-schoolname="{{ school.name }}">Edit</button>
				</div>
			</div>
		</div>
		<div class="collapse collapsibleSchool" id="{{ 'collapsible' + school.name|replace(' ', '_') }}">
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th class="col-3">Team Name</th>
							<th class="col-3 d-none d-sm-table-cell">Account Name</th>
							<th class="col-3">Password</th>
							<th class="col-3">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for team in school.teams.all() %}
						{{ render_team(team) }}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endmacro %}


{% block app_content %}
<h1>Teams</h1>
<form class="form" method="POST">
	{{ add_school_form.hidden_tag() }}
	{{ wtf.form_errors(add_school_form, hiddens="only") }}
	<div class="form-row">
		<div class="col-md-9 col-12">
			{{ wtf.form_field(add_school_form.school_name, form_type="inline", placeholder="School Name") }}
		</div>
		<div class="col">
			{{ wtf.form_field(add_school_form.no_of_teams, form_type="inline", placeholder="#") }}
		</div>
		<div class="col">
			{{ wtf.form_field(add_school_form.submit_new_school, form_type="inline", extra_class="btn-block") }}
		</div>
	</div>
</form>

<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-md-9 col-12">School Name</div>
			<div class="col">#</div>
			<div class="col">
				<button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target=".collapsibleSchool.show" aria-controls="hideCollapsibleSchool">Hide</button>
				<button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target=".collapsibleSchool:not(.show)" aria-controls="showCollapsibleSchool">Show</button>
			</div>
		</div>
	</div>
</div>
{% for school in competition.schools.all() %}
{{ render_school(school) }}
{% endfor %}

<div class="modal fade" id="editTeamModal" tabindex="-1" role="dialog" aria-labelledby="editTeamModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editTeamModalLabel">Edit Team</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="form" method="POST">
					{{ edit_team_form.hidden_tag() }}
					{{ edit_team_form.team_id(type="hidden") }}
					<div class="form-group">
						{{ wtf.form_field(edit_team_form.team_name) }} 
						{{ wtf.form_field(edit_team_form.password, placeholder="Password") }}
						{{ wtf.form_field(edit_team_form.submit_team) }}
						{{ wtf.form_field(edit_team_form.delete_team, class="btn btn-danger") }}
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="editSchoolModal" tabindex="-1" role="dialog" aria-labelledby="editSchoolModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editSchoolModalLabel">Edit School</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="form" method="POST">
					{{ edit_school_form.hidden_tag() }}
					{{ edit_school_form.school_id(type="hidden") }}
					<div class="form-group">
						{{ wtf.form_field(edit_school_form.school_name) }} 
						{{ wtf.form_field(edit_school_form.submit_school) }}
						{{ wtf.form_field(edit_school_form.delete_school, class="btn btn-danger") }}
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
	$('#editTeamModal').on('show.bs.modal', function (event) {
		var modal = $(this)
		var button = $(event.relatedTarget) // Button that triggered the modal
		// Populate the modal itself
		var teamid = button.data('teamid')
		var teamname = button.data('teamname')
		var teampassword = button.data('teampassword')
		modal.find('.modal-title').text('Edit Team "' + teamname + '"')
		modal.find('#team-id').val(teamid)
		modal.find('#team-name').val(teamname)
		modal.find('#team-password').val(teampassword)
	})

	$('#editSchoolModal').on('show.bs.modal', function (event) {
		var modal = $(this)
		var button = $(event.relatedTarget) // Button that triggered the modal
		// Populate the modal itself
		var schoolid = button.data('schoolid')
		var schoolname = button.data('schoolname')
		modal.find('.modal-title').text('Edit School "' + schoolname + '"')
		modal.find('#school-id').val(schoolid)
		modal.find('#school-name').val(schoolname)
	})
</script>
{% endblock %}
